<!DOCTYPE html>
<html>
<head>
  <title>Metal Pomodoro - The most EPIC pomodoro EVER</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

test

</body>
</html>