<!DOCTYPE html>
<html>
<head>
  <title>Metal Pomodoro - The most EPIC pomodoro EVER</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<span id="countdown">05:00:00</span>
<form id="example2form">
  <input type="button" value="Play/Pause" onclick="Example2.Timer.toggle();">
  <input type="button" value="Stop/Reset" onclick="Example2.resetCountdown();">
  <input type="text" name="startTime" value="300" style="width:30px;">
</form>
</body>
</html>